.blockGrid {

  &.blockGrid--primary {
    .buttonC {
      display: flex;
      justify-content: center;
      margin-top: 35px;
      max-width: 211px;

      @include mobile {
        max-width: 100%;
      }
    }
    .blockGrid {

      &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        column-gap: 15px;

        @include tablet {
          grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
          grid-template-columns: repeat(1, 1fr);
          gap: 30px;
        }

        .itemC {
          align-self: start;
        }
      }
    }
  }

  &.blockGrid--more {

    .itemC--article {

      &:nth-child(n + 16) {
        display: none;
      }
    }
  }
}
