<div class="blockContact blockContact--primary">
  <div class="blockContact__container">
    <div class="container">
      <div class="blockContact__content">
        <div class="blockContact__content--box">
          <div class="titleC titleC--primary titleC--black">
            Отправить запрос
          </div>
          <div class="textC textC--secondary textC--black">
            Если вы хотите рассказать нам о проекте, или просто сказать привет, напишите нам!
          </div>
          <form class="formC formC--primary">
            <div class="formC__inputs">
              <div class="formC__inputs--row">
                <div class="inputC primary">
                  <input type="text" placeholder="Представьтесь">
                  <div class="inputC__warning">
                    Неверное значение
                  </div>
                </div>
                <div class="inputC primary">
                  <input type="text" placeholder="Ваша компания">
                  <div class="inputC__warning">
                    Неверное значение
                  </div>
                </div>
              </div>
              <div class="formC__inputs--row">
                <div class="inputC primary">
                  <input class="test-tel" type="tel" placeholder="Телефон*">
                  <div class="inputC__warning">
                    Неверное значение
                  </div>
                </div>
                <div class="inputC primary">
                  <input class="test-email" type="email" placeholder="E-mail">
                  <div class="inputC__warning">
                    Неверное значение
                  </div>
                </div>
              </div>
              <div class="inputC primary">
                <textarea type="text" placeholder="Что вас интересует?"></textarea>
                <div class="inputC__warning">
                  Неверное значение
                </div>
              </div>

            </div>
            <div class="formC__row">
              <button type="submit" class="buttonC buttonC--primary">
                Отправить
              </button>
              <div class="formC__copyright">
                Нажимая кнопку отправить, вы соглашаетесь с нашей <a href="">политикой конфиденциальности</a>
              </div>
              <div class="formC__warning">
                Введено невeрное значение, пожалуйста попробуйте еще раз.
              </div>
            </div>
            <div class="blockContact__success">
              <div class="blockContact__success--box">
                <svg class="" viewBox="0 0 100 100">
                  <use xlink:href="img/sprite.svg#icon-feedback-done"></use>
                </svg>
                <div class="titleC titleC--primary titleC--black">
                  Заявка успешно отправлена!
                </div>
                <div class="textC textC--secondary textC--black">
                  В ближайшее время наш менеджер свяжется с вами.
                </div>
                <a href="home.html" class="buttonC buttonC--primary">
                  на главную
                </a>
              </div>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>
