<div class="blockContact blockContact--primary">
  <div class="blockContact__container">
    <div class="container">
      <div class="blockContact__content">
        <div class="titleC titleC--primary titleC--black">
          Отправить запрос
        </div>
        <div class="textC textC--secondary textC--black">
          Если вы хотите рассказать нам о проекте, или просто сказать привет, напишите нам!
        </div>
        <form class="formC">
          <div class="formC__inputs">
            <div class="formC__inputs--row">
              <div class="inputC primary">
                <input type="text" placeholder="Представьтесь">
              </div>
              <div class="inputC primary">
                <input type="text" placeholder="Ваша компания">
              </div>
            </div>
            <div class="formC__inputs--row">
              <div class="inputC primary">
                <input type="tel" placeholder="Телефон*">
              </div>
              <div class="inputC primary">
                <input type="email" placeholder="E-mail">
              </div>
            </div>
            <div class="inputC primary">
              <textarea type="text" placeholder="Что вас интересует?"></textarea>
            </div>

          </div>
          <div class="formC__row">
            <button type="submit" class="buttonC buttonC--primary">
              Отправить
            </button>
            <div class="formC__copyright">
              Нажимая кнопку отправить, вы соглашаетесь с нашей <a href="">политикой конфедециальности</a>
            </div>
            <div class="formC__warning">
              Неверно введеное значение, попробуйте еще раз.
            </div>
          </div>

        </form>
        <div class="blockContact__success"></div>
      </div>
    </div>
  </div>
</div>
