<footer class="footer">
  <div class="footer__container">
    <div class="container">
      <div class="footer__content">
        <div class="footer__content--up">
          <div class="footer__up--left">
            <div class="footer__logo">
              <a href="home.html" class="logoC logoC-primary">
                <svg class="deskC" width="384" height="29" viewBox="0 0 384 29">
                  <use xlink:href="img/sprite.svg#logo-main-desk"></use>
                </svg>
                <svg class="tableC" width="384" height="29" viewBox="0 0 384 29">
                  <use xlink:href="img/sprite.svg#logo-main-desk"></use>
                </svg>
                <svg class="mobileC" width="237" height="22" viewBox="0 0 237 22">
                  <use xlink:href="img/sprite.svg#logo-main-mobile"></use>
                </svg>
              </a>
            </div>
            <div class="footer__copyright font-color-black-primary">
              © 2023 «ТОП РЕКЛАМА». Все права защищены.
            </div>
          </div>
          <div class="footer__up--right">
            <div class="footer__up--right--one">
              <nav class="menu-nav">
                <ul>
                  <li><a class="menu-item" href="home.html">Главная</a></li>
                  <li><a class="menu-item" href="company.html">О компании</a></li>
                  <li><a class="menu-item" href="blog.html">Блог</a></li>
                  <li><a class="menu-item" href="contact.html">Контакты</a></li>
                </ul>
                <ul>
                  <li><a class="menu-item" href="services.html">Услуги</a></li>
                  <li><a class="menu-item" href="" target="_blank">Indoor реклама</a></li>
                  <li><a class="menu-item" href="" target="_blank">Наружная реклама</a></li>
                  <li><a class="menu-item" href="" target="_blank">Транзитная реклама</a></li>
                  <li><a class="menu-item" href="" target="_blank">СМИ</a></li>
                </ul>
              </nav>
            </div>
            <div class="footer__up--right--two">
              <div class="footer__up--right--two--box--one">
                <div class="footer__links">
                  <a href="tel:8 800 5555-345">8 800 5555-345</a>
                  <a href="mailto:topreklama@gmail.com">topreklama@gmail.com</a>
                </div>
                <div class="footer__social">
                  <div class="footer__social--name">
                    Написать в месседжеры:
                  </div>
                  <div class="footer__social--row">
                    <a target="_blank" href="">
                      <svg class="" width="42" height="42" viewBox="0 0 42 42">
                        <use xlink:href="img/sprite.svg#icon-tg"></use>
                      </svg>
                    </a>
                    <a target="_blank" href="">
                      <svg class="" width="42" height="42" viewBox="0 0 42 42">
                        <use xlink:href="img/sprite.svg#icon-wp"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="footer__up--right--two--box--two">
                <div class="footer__address">
                  <span>г. Екатеринбург, ул. Ленина 1, 4 этаж Design Place</span>
                  <span>пн-пт 09:30-19:00</span>
                </div>
                <div class="footer__info">
                  Информация на сайте носит справочный характер и ни при каких условиях не является публичной офертой"
                </div>
              </div>
              <div class="footer__up--right--two--box--three">
                <div class="footer__content--bottom footer__content--bottom--tablet">
                  <a href="#top" class="buttonC buttonC--arrow open">
                    <i></i>
                  </a>
                  <div class="footer__content--bottom--box">
                    <a href="">Правила пользования сайта</a>
                    <div class="createC"><span>Создание сайта</span><a href="#" target="_blank">Lepinskih</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__content--bottom footer__content--bottom--desk">
          <a href="#top" class="buttonC buttonC--arrow open">
            <i></i>
          </a>
          <div class="footer__content--bottom--box">
            <a href="">Правила пользования сайта</a>
            <span class="createC"><span>Создание сайта</span><a href="#" target="_blank">Lepinskih</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
