<header class="header">
  <div class="header__container">
    <div class="container">
      <div class="header__content">
        <div class="header__content--up">
          <div class="header__left">
            <a href="home.html" class="logoC logoC-primary">
              <svg class="deskC" width="384" height="29" viewBox="0 0 384 29">
                <use xlink:href="img/sprite.svg#logo-main-desk"></use>
              </svg>
              <svg class="tableC" width="384" height="29" viewBox="0 0 384 29">
                <use xlink:href="img/sprite.svg#logo-main-desk"></use>
              </svg>
              <svg class="mobileC" width="237" height="22" viewBox="0 0 237 22">
                <use xlink:href="img/sprite.svg#logo-main-mobile"></use>
              </svg>
            </a>
          </div>
          <div class="header__right">
            <div class="header__social">
              <div class="header__social--name">
                Написать в месседжеры:
              </div>
              <div class="header__social--row">
                <a class="icon-social icon-social-tg" target="_blank" href="">
                  <svg class="" width="20" height="16" viewBox="0 0 20 16">
                    <use xlink:href="img/sprite.svg#icon-tg-small"></use>
                  </svg>
                </a>
                <a class="icon-social icon-social-wp" target="_blank" href="">
                  <svg class="icon-wp-hover" width="22" height="23" viewBox="0 0 22 23">
                    <use xlink:href="img/sprite.svg#icon-wp-small"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="header__button">
              <button class="buttonC buttonC--primary" data-feedback-open-bid>
                Заказать звонок
              </button>
            </div>
            <div class="header__links">
              <a href="tel:8 800 5555-345">8 800 5555-345</a>
              <a href="mailto:topreklama@gmail.com">topreklama@gmail.com</a>
            </div>
          </div>
          <div class="header__burger">
            <button class="buttonC button--burger" data-burger-open>
              <svg class="" width="44" height="44" viewBox="0 0 44 44">
                <use xlink:href="img/sprite.svg#icon-burger"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="header__content--bottom">
          <nav class="menu-nav">
            <ul>
              <li><a class="menu-item" href="home.html">Главная</a></li>
              <li><a class="menu-item" href="services.html">Услуги</a></li>
              <li><a class="menu-item" href="company.html">О компании</a></li>
              <li><a class="menu-item" href="blog.html">Блог</a></li>
              <li><a class="menu-item" href="contact.html">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="padding-top-primary"></div>

<div class="menu--always" data-menu-always>
  <div class="menu__container">
    <div class="menu__top">
      <div class="menu__button">
        <button class="btn-reset btn-close" data-burger-close>
          <svg class="" width="44" height="44" viewBox="0 0 44 44">
            <use xlink:href="img/sprite.svg#icon-close-tablet-main"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="menu__scroll">
      <div class="menu__center">
        <div class="menu__center--tablet">
          <div class="menu__social">
            <div class="menu__social--name">
              Написать в месседжеры:
            </div>
            <div class="menu__social--row">
              <a class="icon-social icon-social-tg" target="_blank" href="">
                <svg class="" width="20" height="16" viewBox="0 0 20 16">
                  <use xlink:href="img/sprite.svg#icon-tg-small"></use>
                </svg>
              </a>
              <a class="icon-social icon-social-wp" target="_blank" href="">
                <svg class="icon-wp-hover" width="22" height="23" viewBox="0 0 22 23">
                  <use xlink:href="img/sprite.svg#icon-wp-small"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="menu__button">
            <button class="buttonC buttonC--primary" data-feedback-open-bid-mobile>
              Заказать звонок
            </button>
          </div>
          <div class="menu__links">
            <a href="tel:8 800 5555-345">8 800 5555-345</a>
            <a href="mailto:topreklama@gmail.com">topreklama@gmail.com</a>
          </div>
        </div>
        <div class="menu__center--mobile">
          <button class="buttonC buttonC--primary" data-feedback-open-bid-mobile>
            Заказать звонок
          </button>
        </div>
      </div>
      <div class="menu__bottom">
        <nav class="menu-nav">
          <ul>
            <li><a class="menu-item menu-item-active" href="home.html">Главная</a></li>
            <li><a class="menu-item" href="services.html">Услуги</a></li>
            <li><a class="menu-item" href="company.html">О компании</a></li>
            <li><a class="menu-item" href="blog.html">Блог</a></li>
            <li><a class="menu-item" href="contact.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="feedback--always" data-feedback-always>
  <div class="feedback__fon" data-feedback-close></div>
  <div class="feedback__swift feedback__connection">
    <form class="feedbackC">
      <div class="feedbackC__container">
        <div class="feedbackC__row">
          <button class="btn-reset btn-close" data-feedback-close>
            <svg class="" width="32" height="32" viewBox="0 0 32 32">
              <use xlink:href="img/sprite.svg#icon-feedback-close"></use>
            </svg>
          </button>
        </div>
        <div class="feedbackC__title">
          Отправить запрос
        </div>
        <div class="feedbackC__subtitle">
          Если вы хотите рассказать нам о проекте, или просто сказать привет, напишите нам!
        </div>
        <div class="feedbackC__inputs">
          <div class="inputC primary">
            <input type="text" placeholder="Представьтесь">
            <div class="inputC__warning">
              Неверное значение
            </div>
          </div>
          <div class="inputC primary">
            <input type="text" placeholder="Ваша компания">
            <div class="inputC__warning">
              Неверное значение
            </div>
          </div>
          <div class="inputC primary">
            <input class="test-tel" type="tel" placeholder="Телефон">
            <div class="inputC__warning">
              Неверное значение
            </div>
          </div>
          <div class="inputC primary">
            <input class="test-email" type="email" placeholder="E-mail*">
            <div class="inputC__warning">
              Неверное значение
            </div>
          </div>
          <div class="inputC primary big-textarea">
            <textarea type="text" placeholder="Что вас интересует?"></textarea>
            <div class="inputC__warning">
              Неверное значение
            </div>
          </div>
        </div>
        <div class="feedbackC__submit">
          <button type="submit" class="buttonC buttonC--primary">
            Отправить
          </button>
          <div class="copyrightC primary">
            Нажимая на кнопку отправить, вы даете согласие на обработку <a href="policy.html">персональных данных</a>
          </div>
        </div>
        <div class="feedbackC__warning">
          Неверно введенное значение, попробуйте еще раз.
        </div>
        <div class="feedbackC__success">
          <svg class="" viewBox="0 0 100 100">
            <use xlink:href="img/sprite.svg#icon-feedback-done"></use>
          </svg>
          <div class="feedbackC__title">
            Заявка успешно отправлена!
          </div>
          <div class="feedbackC__subtitle">
            Наш менеджер перезвонит вам в ближайшее время.
          </div>
          <button class="buttonC buttonC--primary" data-feedback-close>
            Закрыть
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
