<section class="index">
  <div class="index__container">
    <div class="index__box">
      <a href="home.html" class="btn btn__index">Главная</a>
      <a href="company.html" class="btn btn__index">О компании</a>
      <a href="services.html" class="btn btn__index">Услуги</a>
      <a href="blog.html" class="btn btn__index">Блог</a>
      <a href="article.html" class="btn btn__index">Статья</a>
      <a href="contact.html" class="btn btn__index">Контакты</a>
      <a href="error.html" class="btn btn__index">Ошибка</a>
      <a href="policy.html" class="btn btn__index">Правила пользования сайта</a>
      <a href="policy.html" class="btn btn__index">Политика конфедециальности</a>
    </div>
  </div>
</section>
