<div class="pageCompany">
  <div class="sectionImage">
    <div class="blockImageBig blockImageBig--company--small">
      <div class="container">
        <div class="blockImageBig__image">
          <img src="./img/image-company-1.jpg" alt="" class="image--main image--main--desk">
          <img src="./img/image-company-2.jpg" alt="" class="image--main image--main--tablet">
          <img src="./img/image-company-3.jpg" alt="" class="image--main image--main--mobile">
        </div>
        <div class="blockImageBig__block">
          <div class="blockImageBig__block--texts">
            <div class="titleC titleC--primary titleC--white">
              О компании
            </div>
            <div class="textC textC--secondary textC--white">
              <p>15 лет эффективно продвигаем компании во всех городах России.</p>
            </div>
            <button class="buttonC buttonC--primary" data-feedback-open-bid>
              Оформить заявку
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="sectionText">
    <div class="sectionText__container">
      <div class="container">
        <div class="sectionText__content">
          <div class="textC textC--primary textC--black">
            <p>
              Наша компания «ТОП реклама» входит в ТОП крупнейших российских компаний в сфере размещения наружной рекламы. Более 10 лет мы работаем в Москве и еще 44 городах по всей стране, за это время провели сотни рекламных кампаний с доказанной эффективностью.
            </p>
            <p>
              Работаем со всеми форматам: предлагаем размещение печатной рекламы в транспорте или оклейку снаружи, рекламу на остановках, на вокзалах и в аэропортах. Размещаем видеоролики
              в общественных заведениях, МФЦ, на федеральном, региональном и тематическом телевидении
              с низким процентом комиссии. Задействуем щиты, бигборды, перетяжки, крышные установки. Проводим внутреннюю рекламу в торговых и бизнес-центрах, ВУЗах и школах, фитнес-клубах, медицинских заведениях и предприятиях общественного питания. Напечатаем объявления в СМИ
              и запустим баннеры на сайтах в интернете.
            </p>
            <p>
              Нам доверяют рекламные кампании такие бренды как Аэрофлот, Аквафор, Lenovo, Baon и многие другие. Сотрудничать с нами удобно и просто! Позвоните – и всего за час мы разработаем для вас индивидуальный медиаплан!
            </p>
          </div>
          <a href="services.html" class="buttonC buttonC--primary">
            Наши услуги
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="sectionContact">
    @include('blockContact.html')
  </div>
</div>



