<div class="pageArticle">
  <div class="pageArticle__container mb--130">
    <div class="container">
      <div class="blockArticle">
        <div class="blockArticle__container">

          <div class="blockArticle__content">
            <img src="./img/image-article-1.jpg" alt="">
            <div class="blockArticle__texts">
              <p>Программное обеспечение Adpack также умеет отслеживать взгляд будущих клиентов и таким образом фиксировать, действительно ли человек смотрит предназначенную ему рекламу. С помощью самообучающихся алгоритмов планируется улучшить технику отбора рекламных сообщений. Тем не менее программа может определить лишь приблизительный возраст
                и пол. Фактически обрабатываются только метаданные, без привязки к конкретным людям, поэтому почта не информирует клиентов об использовании технологии заранее, но помечает соответствующие зоны знаком видеосъемки.
              </p>
              <p>
                Сторонники защиты данных относятся к такому подходу скептически. Клиенты никогда не записываются на видео в прямом смысле слова, поскольку используемая технология не хранит никаких фотографий или видео. Программа не может собирать личную информацию. Однако Deutsche Post все равно будет иметь доступ к данным о поле и возрасте: так они смогут узнать, кто и когда был в почтовом филиале и как долго смотрел на рекламный экран.
              </p>
              <h6>Успешный тест</h6>
              <p>Пока что эта технология используется в 40 филиалах Deutsche Post в Мюнхене и Кельне, однако планируются еще 60 тестовых кампаний. Использование технологий должно гарантировать рентабельность покупки довольно дорогих экранов, впоследствии увеличивая дополнительный доход почтовых отделений и их партнеров. Если этот подход окажется успешным, новая технология будет использоваться в будущем и во многих других местах. Например, в парках развлечений такие рекламные экраны уже есть: как правило, они установлены перед американскими горками.
              </p>
              <button class="buttonC buttonC--primary" data-feedback-open-bid>
                Заказать рекламу
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="sectionContact">
    @include('blockContact.html')
  </div>
</div>



