<div class="pageHome">
  <div class="sectionHero">
    <div class="sectionHero__container">
      <div class="sectionHero__content">
        <div class="blockImageBig blockImageBig--hero">
          <div class="container">
            <div class="blockImageBig__image">
              <img src="./img/image-home-1.jpg" alt="" class="image--main image--main--desk">
              <img src="./img/image-home-tablet-1.jpg" alt="" class="image--main image--main--tablet">
              <img src="./img/image-home-mobile-1.jpg" alt="" class="image--main image--main--mobile">
            </div>
            <div class="blockImageBig__block">
              <div class="blockImageBig__block--texts">
                <div class="titleC titleC--primary titleC--white">
                  <h1>Эффективная реклама в городах России</h1>
                </div>
                <div class="textC textC--secondary textC--white">
                  <p>15 лет эффективно продвигаем компании во всех городах России.</p>
                </div>
                <button class="buttonC buttonC--primary" data-feedback-open-bid>
                  Оформить заявку
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionDropdowns">
    <div class="sectionDropdowns__container">
      <div class="sectionDropdowns__content">
        <div class="container">
          <div class="titleC titleC--primary titleC--black mb--standard">
            Услуги
          </div>
        </div>
        <div class="blockDropdowns blockDropdowns--primary">
          <div class="container">
            <div class="blockDropdowns__content">
              <div class="dropdown dropdown--primary">
                <button class="buttonC dropdown__button">
                  <span class="dropdown__left">
                    <span class="dropdown__title">INDOOR РЕКЛАМА</span>
                    <span class="dropdown__text">Реклама, которая рядом</span>
                  </span>
                  <span class="dropdown__arrow">
                    <i>
                      <svg class="" width="11" height="7" viewBox="0 0 11 7">
                        <use xlink:href="img/sprite.svg#icon-arrow-dropdown"></use>
                      </svg>
                    </i>
                  </span>
                </button>
                <div class="dropdown__content">
                  <div class="dropdown__content--box">
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Наружная реклама
                      </div>
                      <div class="dropdown__block--text">
                        <p>Мы размещаем наружную рекламу на любых рекламных конструкциях – от стандартных щитов и сити-форматов до гигантских суперсайтов и медиафасадов. Оптимальный вид подбирается исходя из специфики бизнеса клиента, объекта продвижения (товар, услуга, мероприятие, бренд), целевой аудитории и других факторов. Не всегда дорогостоящие билборды в центре города оказываются эффективнее небольших вывесок на периферии.</p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Щиты 3х6
                      </div>
                      <div class="dropdown__block--text">
                        <p>
                          Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                          При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                        </p>
                        <p>
                          Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                          у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                        </p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Суперсайты
                      </div>
                      <div class="dropdown__block--text">
                        <p>
                          Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                          При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                        </p>
                        <p>
                          Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                          у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                        </p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown dropdown--primary">
                <button class="buttonC dropdown__button">
                  <span class="dropdown__left">
                    <span class="dropdown__title">наружная реклама</span>
                    <span class="dropdown__text">Реклама, которая поможет вашему бизнесу расти</span>
                  </span>
                  <span class="dropdown__arrow">
                    <i>
                      <svg class="" width="11" height="7" viewBox="0 0 11 7">
                        <use xlink:href="img/sprite.svg#icon-arrow-dropdown"></use>
                      </svg>
                    </i>
                  </span>
                </button>
                <div class="dropdown__content">
                  <div class="dropdown__content--box">
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Наружная реклама
                      </div>
                      <div class="dropdown__block--text">
                        <p>Мы размещаем наружную рекламу на любых рекламных конструкциях – от стандартных щитов и сити-форматов до гигантских суперсайтов и медиафасадов. Оптимальный вид подбирается исходя из специфики бизнеса клиента, объекта продвижения (товар, услуга, мероприятие, бренд), целевой аудитории и других факторов. Не всегда дорогостоящие билборды в центре города оказываются эффективнее небольших вывесок на периферии.</p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Щиты 3х6
                      </div>
                      <div class="dropdown__block--text">
                        <p>
                          Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                          При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                        </p>
                        <p>
                          Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                          у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                        </p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Суперсайты
                      </div>
                      <div class="dropdown__block--text">
                        <p>
                          Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                          При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                        </p>
                        <p>
                          Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                          у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                        </p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown dropdown--primary">
                <button class="buttonC dropdown__button">
                  <span class="dropdown__left">
                    <span class="dropdown__title">транзитная реклама</span>
                    <span class="dropdown__text">Реклама, которая даст ускорение</span>
                  </span>
                  <span class="dropdown__arrow">
                    <i>
                      <svg class="" width="11" height="7" viewBox="0 0 11 7">
                        <use xlink:href="img/sprite.svg#icon-arrow-dropdown"></use>
                      </svg>
                    </i>
                  </span>
                </button>
                <div class="dropdown__content">
                  <div class="dropdown__content--box">
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Наружная реклама
                      </div>
                      <div class="dropdown__block--text">
                        <p>Мы размещаем наружную рекламу на любых рекламных конструкциях – от стандартных щитов и сити-форматов до гигантских суперсайтов и медиафасадов. Оптимальный вид подбирается исходя из специфики бизнеса клиента, объекта продвижения (товар, услуга, мероприятие, бренд), целевой аудитории и других факторов. Не всегда дорогостоящие билборды в центре города оказываются эффективнее небольших вывесок на периферии.</p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Щиты 3х6
                      </div>
                      <div class="dropdown__block--text">
                        <p>
                          Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                          При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                        </p>
                        <p>
                          Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                          у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                        </p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Суперсайты
                      </div>
                      <div class="dropdown__block--text">
                        <p>
                          Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                          При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                        </p>
                        <p>
                          Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                          у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                        </p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown dropdown--primary">
                <button class="buttonC dropdown__button">
                  <span class="dropdown__left">
                    <span class="dropdown__title">СМИ</span>
                    <span class="dropdown__text">Реклама, которая расскажет о вас</span>
                  </span>
                  <span class="dropdown__arrow">
                    <i>
                      <svg class="" width="11" height="7" viewBox="0 0 11 7">
                        <use xlink:href="img/sprite.svg#icon-arrow-dropdown"></use>
                      </svg>
                    </i>
                  </span>
                </button>
                <div class="dropdown__content">
                  <div class="dropdown__content--box">
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Наружная реклама
                      </div>
                      <div class="dropdown__block--text">
                        <p>Мы размещаем наружную рекламу на любых рекламных конструкциях – от стандартных щитов и сити-форматов до гигантских суперсайтов и медиафасадов. Оптимальный вид подбирается исходя из специфики бизнеса клиента, объекта продвижения (товар, услуга, мероприятие, бренд), целевой аудитории и других факторов. Не всегда дорогостоящие билборды в центре города оказываются эффективнее небольших вывесок на периферии.</p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Щиты 3х6
                      </div>
                      <div class="dropdown__block--text">
                        <p>
                          Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                          При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                        </p>
                        <p>
                          Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                          у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                        </p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                    <div class="dropdown__block">
                      <div class="dropdown__block--title">
                        Суперсайты
                      </div>
                      <div class="dropdown__block--text">
                        <p>
                          Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                          При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                        </p>
                        <p>
                          Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                          у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                        </p>
                      </div>
                      <a href="article.html" class="buttonC buttonC--primary">
                        Подробнее
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionImageBig">
    <div class="blockImageBig blockImageBig--company">
      <div class="container">
        <div class="blockImageBig__image">
          <img src="./img/image-home-2.jpg" alt="" class="image--main image--main--desk">
          <img src="./img/image-home-tablet-2.jpg" alt="" class="image--main image--main--tablet">
          <img src="./img/image-home-mobile-2.jpg" alt="" class="image--main image--main--mobile">
        </div>
        <div class="blockImageBig__block">
          <div class="blockImageBig__block--texts">
            <div class="titleC titleC--primary titleC--white">
              Наша миссия
            </div>
            <div class="textC textC--secondary textC--white">
              <p>Помогать Клиентам укреплять их позиции на рынке средствами медиакоммуникаций, сосредоточенных в точках
                концентрации платежеспособной и динамичной аудитории потребителей</p>
            </div>
            <a href="company.html" class="buttonC buttonC--primary">
              подробнее о компании
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="sectionCards">
    <div class="container">
      <div class="titleC titleC--primary titleC--black mb--standard">
        Блог
      </div>
      <div class="blockGrid blockGrid--primary">
        <div class="blockGrid__content">
          <a href="article.html" class="itemC itemC--article">
            <img src="./img/image-blog-1.jpg" alt="" class="itemC__image">
            <span class="itemC__data">05.05.23</span>
            <span class="itemC__title">“Умные” экраны: реклама от deutsche post с распознаванием лиц</span>
          </a>
          <a href="article.html" class="itemC itemC--article">
            <img src="./img/image-blog-2.jpg" alt="" class="itemC__image">
            <span class="itemC__data">01.05.23</span>
            <span class="itemC__title">Погодный таргетинг как инструмент продвижения товара</span>
          </a>
          <a href="article.html" class="itemC itemC--article">
            <img src="./img/image-blog-3.jpg" alt="" class="itemC__image">
            <span class="itemC__data">20.04.23</span>
            <span class="itemC__title">Реклама с маскировкой: естественная реклама</span>
          </a>
        </div>
        <a href="blog.html" class="buttonC buttonC--primary">
          больше статей
        </a>
      </div>
    </div>
  </div>
  <div class="sectionContact">
    @include('blockContact.html')
  </div>
</div>
