<div class="pageContact">
  <div class="pageContact__container">
    <div class="container">
      <div class="pageContact__content">
        <div class="pageContact__info">
          <div class="pageContact__info--one">
            <a href="tel:8 800 5555-345">8 800 5555-345</a>
            <a href="mailto:topreklama@gmail.com">topreklama@gmail.com</a>
            <span>г. Екатеринбург, ул. Ленина 1, 4 этаж
            Design Place</span>
            <span>пн-пт 09:30-19:00</span>
          </div>
          <div class="pageContact__info--two">
            <div class="pageContact__social">
              <div class="pageContact__social--name">
                Написать в месседжеры:
              </div>
              <div class="pageContact__social--row">
                <a class="icon-social icon-social-tg" target="_blank" href="">
                  <svg class="" width="20" height="16" viewBox="0 0 20 16">
                    <use xlink:href="img/sprite.svg#icon-tg-small"></use>
                  </svg>
                </a>
                <a class="icon-social icon-social-wp" target="_blank" href="">
                  <svg class="icon-wp-hover" width="22" height="23" viewBox="0 0 22 23">
                    <use xlink:href="img/sprite.svg#icon-wp-small"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="pageContact__button">
              <button class="buttonC buttonC--primary" data-feedback-open-bid>
                Заказать рекламу
              </button>
            </div>
          </div>
        </div>
        <div class="pageContact__map">
          <img src="./img/svg/icon-map.svg" class="image--map" alt="">
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A17a11b42a2a7c7669437f0d5f3ff1af890a4bff4152f593b24292de90da8c68b&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionContact">
    @include('blockContact.html')
  </div>
</div>
