<div class="pageBlog">
  <div class="sectionGrid">
    <div class="sectionGrid__container">
      <div class="container">
        <div class="sectionGrid__content">
          <div class="blockGrid blockGrid--primary blockGrid--more">
            <div class="blockGrid__content">
              <a href="article.html" class="itemC itemC--article">
                <img src="./img/image-blog-1.jpg" alt="" class="itemC__image">
                <span class="itemC__data">05.05.23</span>
                <span class="itemC__title">“Умные” экраны: реклама от deutsche post с распознаванием лиц</span>
              </a>
              <a href="article.html" class="itemC itemC--article">
                <img src="./img/image-blog-2.jpg" alt="" class="itemC__image">
                <span class="itemC__data">01.05.23</span>
                <span class="itemC__title">Погодный таргетинг как инструмент продвижения товара</span>
              </a>
              <a href="article.html" class="itemC itemC--article">
                <img src="./img/image-blog-3.jpg" alt="" class="itemC__image">
                <span class="itemC__data">20.04.23</span>
                <span class="itemC__title">Реклама с маскировкой: естественная реклама</span>
              </a>
              <a href="article.html" class="itemC itemC--article">
                <img src="./img/image-blog-2.jpg" alt="" class="itemC__image">
                <span class="itemC__data">01.05.23</span>
                <span class="itemC__title">Погодный таргетинг как инструмент продвижения товара</span>
              </a>
              <a href="article.html" class="itemC itemC--article">
                <img src="./img/image-blog-3.jpg" alt="" class="itemC__image">
                <span class="itemC__data">20.04.23</span>
                <span class="itemC__title">Реклама с маскировкой: естественная реклама</span>
              </a>
              <a href="article.html" class="itemC itemC--article">
                <img src="./img/image-blog-3.jpg" alt="" class="itemC__image">
                <span class="itemC__data">20.04.23</span>
                <span class="itemC__title">Реклама с маскировкой: естественная реклама</span>
              </a>
              <a href="article.html" class="itemC itemC--article">
                <img src="./img/image-blog-2.jpg" alt="" class="itemC__image">
                <span class="itemC__data">01.05.23</span>
                <span class="itemC__title">Погодный таргетинг как инструмент продвижения товара</span>
              </a>
              <a href="article.html" class="itemC itemC--article">
                <img src="./img/image-blog-3.jpg" alt="" class="itemC__image">
                <span class="itemC__data">20.04.23</span>
                <span class="itemC__title">Реклама с маскировкой: естественная реклама</span>
              </a>
              <a href="article.html" class="itemC itemC--article">
                <img src="./img/image-blog-3.jpg" alt="" class="itemC__image">
                <span class="itemC__data">20.04.23</span>
                <span class="itemC__title">Реклама с маскировкой: естественная реклама</span>
              </a>
            </div>
            <button class="buttonC buttonC--primary buttonC--more">
              больше статей
            </button>
          </div>
        </div>

      </div>
    </div>


  </div>
  <div class="sectionContact">
    @include('blockContact.html')
  </div>
</div>
