<div class="pageServices">
  <div class="pageServices__container">
    <div class="blockDropdowns blockDropdowns--primary">
      <div class="container">
        <div class="blockDropdowns__content">
          <div class="dropdown dropdown--primary">
            <button class="buttonC dropdown__button">
                  <span class="dropdown__left">
                    <span class="dropdown__title">INDOOR РЕКЛАМА</span>
                    <span class="dropdown__text">Реклама, которая рядом</span>
                  </span>
              <span class="dropdown__arrow">
                    <i>
                      <svg class="" width="11" height="7" viewBox="0 0 11 7">
                        <use xlink:href="img/sprite.svg#icon-arrow-dropdown"></use>
                      </svg>
                    </i>
                  </span>
            </button>
            <div class="dropdown__content">
              <div class="dropdown__content--box">
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Наружная реклама
                  </div>
                  <div class="dropdown__block--text">
                    <p>Мы размещаем наружную рекламу на любых рекламных конструкциях – от стандартных щитов и сити-форматов до гигантских суперсайтов и медиафасадов. Оптимальный вид подбирается исходя из специфики бизнеса клиента, объекта продвижения (товар, услуга, мероприятие, бренд), целевой аудитории и других факторов. Не всегда дорогостоящие билборды в центре города оказываются эффективнее небольших вывесок на периферии.</p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Щиты 3х6
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Суперсайты
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Ситиборды
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Видеоэкраны
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Крышные конструкции
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Сити форматы
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Остановки
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Афиши
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown dropdown--primary">
            <button class="buttonC dropdown__button">
                  <span class="dropdown__left">
                    <span class="dropdown__title">наружная реклама</span>
                    <span class="dropdown__text">Реклама, которая поможет вашему бизнесу расти</span>
                  </span>
              <span class="dropdown__arrow">
                    <i>
                      <svg class="" width="11" height="7" viewBox="0 0 11 7">
                        <use xlink:href="img/sprite.svg#icon-arrow-dropdown"></use>
                      </svg>
                    </i>
                  </span>
            </button>
            <div class="dropdown__content">
              <div class="dropdown__content--box">
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Наружная реклама
                  </div>
                  <div class="dropdown__block--text">
                    <p>Мы размещаем наружную рекламу на любых рекламных конструкциях – от стандартных щитов и сити-форматов до гигантских суперсайтов и медиафасадов. Оптимальный вид подбирается исходя из специфики бизнеса клиента, объекта продвижения (товар, услуга, мероприятие, бренд), целевой аудитории и других факторов. Не всегда дорогостоящие билборды в центре города оказываются эффективнее небольших вывесок на периферии.</p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Щиты 3х6
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Суперсайты
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown dropdown--primary">
            <button class="buttonC dropdown__button">
                  <span class="dropdown__left">
                    <span class="dropdown__title">транзитная реклама</span>
                    <span class="dropdown__text">Реклама, которая даст ускорение</span>
                  </span>
              <span class="dropdown__arrow">
                    <i>
                      <svg class="" width="11" height="7" viewBox="0 0 11 7">
                        <use xlink:href="img/sprite.svg#icon-arrow-dropdown"></use>
                      </svg>
                    </i>
                  </span>
            </button>
            <div class="dropdown__content">
              <div class="dropdown__content--box">
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Наружная реклама
                  </div>
                  <div class="dropdown__block--text">
                    <p>Мы размещаем наружную рекламу на любых рекламных конструкциях – от стандартных щитов и сити-форматов до гигантских суперсайтов и медиафасадов. Оптимальный вид подбирается исходя из специфики бизнеса клиента, объекта продвижения (товар, услуга, мероприятие, бренд), целевой аудитории и других факторов. Не всегда дорогостоящие билборды в центре города оказываются эффективнее небольших вывесок на периферии.</p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Щиты 3х6
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Суперсайты
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown dropdown--primary">
            <button class="buttonC dropdown__button">
                  <span class="dropdown__left">
                    <span class="dropdown__title">СМИ</span>
                    <span class="dropdown__text">Реклама, которая расскажет о вас</span>
                  </span>
              <span class="dropdown__arrow">
                    <i>
                      <svg class="" width="11" height="7" viewBox="0 0 11 7">
                        <use xlink:href="img/sprite.svg#icon-arrow-dropdown"></use>
                      </svg>
                    </i>
                  </span>
            </button>
            <div class="dropdown__content">
              <div class="dropdown__content--box">
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Наружная реклама
                  </div>
                  <div class="dropdown__block--text">
                    <p>Мы размещаем наружную рекламу на любых рекламных конструкциях – от стандартных щитов и сити-форматов до гигантских суперсайтов и медиафасадов. Оптимальный вид подбирается исходя из специфики бизнеса клиента, объекта продвижения (товар, услуга, мероприятие, бренд), целевой аудитории и других факторов. Не всегда дорогостоящие билборды в центре города оказываются эффективнее небольших вывесок на периферии.</p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Щиты 3х6
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
                <div class="dropdown__block">
                  <div class="dropdown__block--title">
                    Суперсайты
                  </div>
                  <div class="dropdown__block--text">
                    <p>
                      Билборд – рекламная конструкция, которая работает круглосуточно, донося до потенциальных потребителей информацию.
                      При кажущейся высокой стоимости аренды носителя, по факту это часто оказывается выгоднее, чем раздача листовок, так как охват аудитории больше. Взгляд непроизвольно цепляется за яркий объект, и информация запоминается. Те же полученные флаеры часто выбрасывают, не читая, а крупная вывеска привлекает внимание пешеходов и водителей.
                    </p>
                    <p>
                      Эффект от рекламы на билборде напрямую зависит от того, насколько правильно выбрана локация, чтобы донести информацию до целевой аудитории. И от правильного дизайна. Если реклама нацелена на автомобилистов, в потоке города
                      у них есть 10-15 секунд, чтобы заметить билборд, на дороге за городом – еще меньше. Наши дизайнеры знают, как создать цепляющее рекламное сообщение, повышающее узнаваемость бренда до 80%, а маркетологи и аналитики – где и что размещать.
                    </p>
                  </div>
                  <a href="service.html" class="buttonC buttonC--primary">
                    Подробнее
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="sectionContact">
    @include('blockContact.html')
  </div>
</div>
